<header>
  <nav class="navbar">
    <a class="navbar-logo" href="#">
      <img src="assets/images/logo.png" alt="Logo" />
    </a>
    <ul class="navbar-links">
      <li>
        <a [routerLink]="" (click)="navigateToHome()">Home</a>
      </li>
      <li>
        <a [routerLink]="" (click)="navigateToMovies()">Movies</a>
      </li>
      <li>
        <a [routerLink]="" (click)="navigateToTvShows()">TV Shows</a>
      </li>
      <li>
        <a [routerLink]="" (click)="navigateToGenres()">Genres</a>
      </li>
    </ul>
  </nav>
</header>
