$bgColor: #141414;
$bgColorLight: #1e1e1e;
$borderColor: #424242;
$white: #fff;
$primary: #ff4081;
$primaryLight: #ff79b0;
$primaryDark: #c60055;
$secondary: #03dac6;
$secondaryLight: #a7ffeb;
$secondaryDark: #018786;
$tertiary: #bb86fc;
